



.commentsWindow {
 display: inline-block;
  background-color: white;
  z-index: 10;
  overflow: auto;
  padding: 20px;
}



.commentArea {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  height: 20vh;
}



.comment {
  display: inline-block;

  padding: 10px;
  gap: 10px;
  background-color:red;
  margin-bottom: 10px;
  border-radius: 15px;
}
.Post {
  background-color: white;
  display: flex;
  text-align: start;

  padding: 1vw;
  min-height: 30vh;

  max-height: 40vh;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
  overflow-y: auto;
  margin-top: 0px;
}
