.myPost{

    text-align: start;
    padding: 10px;

}
.myPostContainer{
    display: block;
    border-color: black;
 
}
.allPostsContainer{
    top: 10%;
    display: block;
    width: 350px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 400px;



}
.postContent{
    display: block;
    overflow-wrap: break-word;
    background-color: rgb(194, 161, 226);
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 100px;
    min-height: 40px;



    

}
.mycheckBox{
    display: flex;
flex-direction: column;
justify-content: center;
  position: fixed;
  border-style: solid;
  width: 400px;
  height: 200px;
  top :25%;
background-color: grey; 
  white-space: normal;
  box-sizing: border-box;
  left: 50%;
    transform: translateX(-50%)
    
}
.updateBox{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
      position: fixed;
      border-style: solid;
      width: 400px;
      height: 200px;
      top :25%;
    background-color: grey; 
      white-space: normal;
      box-sizing: border-box;
      left: 50%;
        transform: translateX(-50%)
        
}