.post {
  display: block;
  text-align: start;

  padding: 10px;
  width: 275px;
  max-height: 100px;
  background-color: rgb(212, 208, 208);
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 1;

}

.postSection {
  display:block;
  top:15%;
  position: fixed;
  width: 300px;
  gap: 10px;
  left: 50%;
  max-height: 400px;
  transform: translateX(-50%);
  overflow-y: auto;
}
.postButtons {
  display: flex;
  justify-content: space-between;
}
.postContainer {
  border-color: gray;
  border-radius: 10px;
  margin-bottom: 15px;
  
 
  border-style: solid;
}
.name {
  position: fixed;
  display: flex;
  justify-items: flex-start;
}
.checkBox{
display: flex;
flex-direction: column;
justify-content: center;
  position: fixed;

 
  top :25%;

  left: 50%;
    transform: translateX(-50%);


}

.nameBar{
  border-radius: 5px;

  background-color: rgb(152, 183, 230);
  padding: 2px;

}
.TEST{
  margin-top: 12vh;
  display: 'block';
  overflow-y: 'auto';
  cursor: 'none';
  pointer-events: 'auto';
  height: '300px',

}
.checkpost{
  font-size: 1.5vw;
  max-height: 200px;
  overflow-y: auto; 
  border: 1px solid #ccc; 
  padding: 10px} 


