.post {
  display: block;
  text-align: start;

  padding: 10px;
  width: 300px;
  max-height: 100px;
  background-color: rgb(194, 161, 226);
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  box-sizing: border-box;
  overflow-y: auto;
}

.postSection {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}
.postButtons {
  display: flex;
  justify-content: space-between;
}
.postContainer {
  border-color: gray;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}
.name {
  display: flex;
  justify-items: flex-start;
}
.checkBox{
display: flex;
flex-direction: column;
justify-content: center;
  position: fixed;
  border-style: solid;
  width: 400px;
  height: 200px;
background-color: grey; 
  white-space: normal;
  box-sizing: border-box;
  left: 50%;
    transform: translateX(-50%);


}

