.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 7vh;
  padding: 1%;
  background-color: rgb(89, 145, 228);
}
.search{
  border-radius: 10px;
  width: 50%;
  height: 6vh;
}
.searchBox{
  
}
