.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 7vh;
  padding: 1%;
  background-color: rgb(89, 145, 228);
}
.search{
  border-radius: 10px;
  width: 50%;
  height: 6vh;
}
.searchBox{
  position: relative;
  border-style: solid;
  height: 80vh;
  top: 7vh;
  left:45%;
  background-color: white;
  width: 50vw;
  z-index: 2;
  border-radius: 10px;
  transform: translateX(-50%);

  
}
.searchResult{
  display: flex;
  background-color: gray;
  margin-bottom: 2vh;
  border-style: double;
  
}
